.container{
    
<<<<<<< HEAD
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    
    
=======
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  
  
>>>>>>> 0ed3ed9b4096a3c00e2dae16dc4b50ed1a48f0b8
}
